.fav-spot-img {
    height: 250px;
    width: 100%;
    border-radius: 15px;
}

.favSpot-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 20px;
    width: 400px;
}

.fav-show-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cute-bat-gif {
    width: 15%;
}

.all-fav-spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;

}

.fav-spot-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
