.fav-spot-img {
    width: 100%;
    border-radius: 15px;
}

.favSpot-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 20px;
    width: 400px;
    height: 400px;
}

.fav-show-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
