.images-comp-container {
    width: 100%;
    /* height: 553px; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.four-images-container {
    width: 70%;
    /* height: 580px; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.main-photo-div {
    width: 70%;
}
.main-photo-show {
    width: 100%;
    height: 549px;
}

.remaining-photos-container {
    width: 30%;
}

.small-photo-show {
    width: 100%;
    height: 180px;
}
