
/* .login-gif {
    width: 500px;
    margin-top: 30px;

} */

.plz-login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(https://media3.giphy.com/media/Z0K7Mv4z2thA1vPNBB/giphy.gif);
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.pls-login-p {
    color: white;
}

.pls-login-link {
    text-decoration: none;
    color: white;
}
.pls-login-link:hover {
    border-bottom: 1px solid white;
}
