.welcome-blackbox-bg {
    display: flex;
    justify-content: center;
}

.scaryhouse-pic {
    width: 100%;
    height: 900px;
    position: absolute;
}


.haunting-homes-title {
    display: flex;
    justify-content: center;
    margin-top: 60px;

}


.banner-text {
    position: relative;
    width: 31%;
    font-size: 18px;
    margin-left: 5%;
    color: white;
    margin-top: 13%;
}

.welcome-title-home {
    display: flex;
    flex-direction: column;
}

.sleep-in-ghost-town-title {
    font-weight: 100;
}

.white-box-bg {
    margin-top: 550px;
}

.ghost-town-img {
    width: 550px;
    height: 350px;
    margin: 5px;
}

.splashpage-more-homes {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.container-for-three-ghosts {
    display: flex;
}

.ghost-gif-container {
    border: 1px solid black;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.welcome-to-nightmare-desc {
    padding-left: 80px;

}

.sleep-ghost-town-div {
    display: flex;
    margin-left: 350px;
    align-items: center;
    margin-bottom: 80px;
}

.ghost-town-desc {
    font-size: 25px;
    width: 50%;
    margin-left: 11%;
}
