

.welcome-blackbox-bg {
    display: flex;
    justify-content: center;



}

.scaryhouse-pic {
    width: 100%;
    height: 800px;
}



.haunting-homes-title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border-bottom: 1px solid black;


}

.spooky-stays-title {

}
