
.spot-showpage-img {
    width: 380px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
}

.spot-showpage-img-container {
    display: flex;
    margin:10px;

}

.indiv-spot-link {
    color: black;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

.whole-container-showpage-spots {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.indiv-spot-description-showpage {
    margin-left: 30px;
}

.div-for-the-showpage-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cute-skele-gif {
    width: 225px;
}

.showpage-title-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
}
