
.spot-showpage-img {
    width: 380px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
}

.spot-showpage-img-container {
    display: flex;
    margin:10px;

}

.indiv-spot-link {
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

.whole-container-showpage-spots {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;

}

.indiv-spot-description-showpage {
    margin-left: 30px;
}
