.home-signup-login-nav {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    gap: 10px;
    background: white;
    border: 1px solid rgb(240, 237, 237);
    box-shadow: 1px 1px 5px #ededed;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

.nav-link-path {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.nav-link-path:hover {
    text-shadow: 0 0 20px #5a5a5a;
    transition: 0.5s;

}

.nav-link-container {
    display: flex;
    width: 10%;
    align-content: space-between;
    justify-content: space-evenly;

}

.logo-home {
    margin-left: 80px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#nightmarebnb-nav-link {
    color: #ff385c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;

}

.bat-logo {
    width: 50%;
}

.add-spooky-spot-link {
    color: #ff385c;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav-spots-btn {
    color: #ff385c;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.nav-spots-btn:hover {
    transition: 0.2s;
    border-bottom: 1px solid #ff385c;

}

.profile-dropdown {
    display: inline-block;
}

.home-ghost-btn {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.ghost-btn-title {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ff385c;
}

.logout-btn-container {
    margin: 10px;
}

.user-info-title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 11px;
    padding-right: 13px;

}


.nav-myspots-btn {
    color: #ff385c;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}
.nav-myspots-btn:hover {
    transition: 0.2s;
    border-bottom: 1px solid #ff385c;

}

.ghost-gif-container {
    border: 1px solid black;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
}

.my-spots-link-nav {
    color: #ff385c;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.my-spots-link-nav:hover {
    transition: 0.2s;
    border-bottom: 1px solid #ff385c;

}


.logout-btn-container button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}

.logout-btn-container button:hover {
    color:#ff385c;
    background-color:#FFFFFF;
    border: 0.1em solid #ff385c;
}

.home-ghost-btn button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    background-color: white;
    cursor: pointer;

}


.prof-btn-ghost-gif {
    width: 30px;
    height: 30px;
}
